form{
    position: absolute;
    left: 26.56%;
    right: 26.46%;
    top: 4.04%;
    bottom: 44.92%;
    width: 481px;
    height: 392px;
    background: #F7F5F9;
    border-radius: 12px;
    box-shadow: 6px 6px 15px rgb(212, 206, 206);
}
.frame{
    position: absolute;
    left: calc(50% - 1024px/2);
    width: 1024px;
    height: 768px;

    background: #FFFFFF;
}
.header{

    position: absolute;
    left: 40px;
    top: 40px;
    width: 180px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 720;
    font-size: 24px;
    line-height: 20px;
    color: #3B3D43;
}
.name{
    position: absolute;
    top: 85px;
    left: 40px;
    width: 401px;
    height: 48px;
    /* Color/Neutral/6 - White */

    background: #FFFFFF;
    /* Dropshadow 1 */

    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}
.number{
    position: absolute;
    top: 158px;
    left: 40px;
    width: 401px;
    height: 48px;
    /* Color/Neutral/6 - White */

    background: #FFFFFF;
    /* Dropshadow 1 */

    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}
.email{
    position: absolute;
    top: 231px;
    left: 40px;
    width: 401px;
    height: 48px;
    /* Color/Neutral/6 - White */

    background: #FFFFFF;
    /* Dropshadow 1 */

    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}
.submit-button{
    position: absolute;
    top: 304px;
    left: 40px;
    width: 401px;
    height: 48px;

    background: #6979F8;

    border: none;
    border-radius: 6px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: white;
}
input::placeholder{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    color: #D0C9D6;
    
}
input{
    border: none;
    padding-left: 15px;
    border-radius: 6px;
    
}
input:focus{
    outline: none;
}
.field{
    font-size: 15px;
    
}
.field:focus{
    
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border: 2px solid rgb(175, 154, 201);
    padding-left: 13px;
}
.submit-button:active {
    background: rgb(80, 93, 190);
}
    